<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Express Static Website Example</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="/images/baby_yoda.png" alt="baby yoda">
        <div style="width:400px;">
            <p>Ea ex fugiat qui ipsum laborum consequat reprehenderit quis veniam pariatur exercitation velit. Quis
                ullamco incididunt id consequat veniam nostrud. Fugiat culpa commodo do elit sit eu do mollit. Voluptate
                aliqua nulla ut consectetur commodo dolore do minim commodo. Velit eu qui adipisicing nulla labore
                veniam incididunt commodo sit mollit ea.</p>
        </div>
    </div>
</body>

</html>