<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mat Ferraro Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Mat Ferraro Assignment 1</h1>
        <nav>
            <a href="#">Home</a>
            <a href="login.html">Login</a>
           
        </nav>
        <div style="width:400px;">
        <p>Top Games Played on Steam</p>
        <p>1) Madden NFL 21</p>
        <p>2) Sid Meier's Civilization 5</p>
        <p>3) PlayerUnknown's BattleGrounds</p>
        <p>4) Call of Duty: World at War</p>
        <p>5) War Thunder</p>
        <p>6) Insurgency</p>
        <p>7) Sid Meier's Civilization: Beyond Earth</p>
        <p>8) Stick Fight: The Game</p>
        <p>9) Temtem</p>
        <p>10) Tome Clancy's Rainbow Six Siege</p>
        </div>
        <nav>
            <a href="login.html">Add items to the list</a>
            <a href="link2.html">2nd Link</a>
           
        </nav>
        <div style="width:400px;">
            <p>I made this list to see which games I spend most of my time on when playing steam games. It shows me which kind of games I've gotten my money's worth out of.</p>
        </div>
    </div>
</body>

</html>