<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mat Ferraro Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Login</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <div style="width:400px;">

            <input type="Username" placeholder="Enter Username">
            <input type="Password" placeholder="Enter Password">
            <button>Sign in</button>
        </div>
    </div>
    
</body>

</html>